/* Large desktop */
@media (min-width: 980px) { 
    body {
        padding-top: 60px;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linediv-r {
        border-left: 1px white solid;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    .copy {
        padding: 2.5% 10%;
    }
    .linediv-l {
        border-bottom: 1px white solid;
    }
    .linediv-r {
        border-top: 1px white solid;
    }
}

/* All form factors */

/* Main body and headings */
body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-inner{
    background-image:none;
    background-color:#2e6a40;;
}

.navbar-inverse .brand{
    font-weight: 400;
    color: #24f27f;
}

.navbar .brand{
    padding:0px;
}

.navbar .brand img{
    padding:3px 10px 0px 20px;
}

.navbar-inverse .brand:hover, .navbar-inverse .brand:focus{
    color: #24fa74;
}

.navbar-inverse a{
    text-shadow: none;
}
.navbar-inverse .nav>li>a{
    color: #ccc;
}

.navbar-inverse .nav .active>a{
    color: #400;
    background-color: #56c678;
}

.navbar-inverse .nav .active>a:hover{
    background-color: #24f27f;
    color: #7c1e0f; 
}

.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 18px;
    line-height: 24px;
}

.bigimage{
    position: relative;
    padding: 0px;
    width: 100%;
    margin-top: -20px;
    background-color: #0B3E4D;
}

/* Video pitch and Action */
.pitch {
    padding: 2.5% 0%;
}
.order {
    padding: 2% 0%;
}
.actions {
    background-color: #343434;
    padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics {
    text-align: center;
}
.addthis_toolbox{
    width:246px;
    margin: 0px auto;
}
.statistics h3, .statistics p {
    color: white;
}

/* Marketing Copy and Footer */
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.asset {
    padding: 2.5% 0%;
}

.heading h1{
    color: #FAF0E6;
    text-shadow:1px 3px black;
}

.subheading{
    color: #FAF0E6;
    text-shadow:1px 3px black;
}

.footer {
    color: #cccccc;
    text-align: center;
}
.footer p {
    font-size: 11px;
}
.footer a {
    color: #ccccff;
}
